{% extends 'medservice/base.html' %}

{% block content %}
    <div class="container">
        <form method="post" class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {% if object %}
                            Редактирование записи
                        {% else %}
                            Записаться на приём к врачу
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="custom-btn btn-13">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Записаться
                            {% endif %}
                        </button>
                        <button href="{% url 'medservice:appointment_list' %}" class="custom-btn btn-7">Отменить
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}