{% extends 'medservice/base.html' %}

{% block content %}
    <div class="container">
        <form method="post" class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Удаление записи на приём
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <p>Действительно хотите удалить запись на приём {{ object.title }}?</p>
                        <button type="submit" class="custom-btn btn-7">
                            Удалить
                        </button>
                        <a class="custom-btn btn-13" href="{% url 'medservice:appointment_list' %}">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}