{% extends 'medservice/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3 class="card-title"> {{ object.name }}</h3>
                        <p class="card-text">Описание услуги: {{ object.description }}</p>
                        <p class="card-text">Длительность: {{ object.duration }} минут</p>
                        <p class="card-text">Направление: {{ object.category }}</p>
                        <h3 class="card-text">Цена {{ object.price }} руб.</h3>
                        {% if user.is_authenticated %}
                            <a href="{% url 'medservice:appointment_create' %}?from={{ object.pk }}"
                               class="custom-btn btn-13">Записаться</a>
                        {% else %}
                            <p class="card-text">Чтобы записаться на приём к врачу, вам нужно войти на сайт</p>
                            <a href="{% url 'users:login' %}" class="custom-btn btn-13">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}