{% extends 'medservice/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title"> {{ object.name }}</h3>
                <p class="card-text">Описание услуги: {{ object.description }}</p>
                <p class="card-text">Длительность: {{ object.duration }} минут</p>
                <p class="card-text">Направление: {{ object.category }}</p>
                <h3 class="card-text">Цена {{ object.price }} руб.</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}